* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', serif;
    color: white;
}

body {
    background-color: #303030;
}

:root {
    --cursive-font: 'Dancing Script', cursive;
    --bold: 700;
}

h1 {
    text-align: center;
    padding: 0.8em;
}

section {
    display: flex;
    justify-content: center;
}

button {
    font-size: 1rem;
    font-weight: var(--bold);
    background: linear-gradient(to right, rgb(74, 141, 132), rgb(97, 76, 146));
    border: none;
    border-radius: 3em;
    padding: 0.9em 2.7em;
}

button:hover {
    padding: 0.95em 2.85em;
    background: linear-gradient(to right, rgb(65, 124, 116), rgb(86, 68, 129));
    box-shadow: 3.5px 3.5px 4px rgba(0, 0, 0, 0.6);
}





