* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', serif;
    color: white;
}

body {
    background-color: #303030;
}

:root {
    --cursive-font: 'Dancing Script', cursive;
    --bold: 700;
}

input {
    color: black;
    font-weight: 700;
}

h1 {
    text-align: center;
    padding: 0.8em;
}

section {
    display: flex;
    justify-content: center;
}

.add-book {
    font-size: 1rem;
    font-weight: var(--bold);
    background: linear-gradient(to right, rgb(74, 141, 132), rgb(97, 76, 146));
    border: none;
    border-radius: 3em;
    padding: 0.9em 2.7em;
}

.add-book:hover {
    padding: 0.95em 2.85em;
    background: linear-gradient(to right, rgb(65, 124, 116), rgb(86, 68, 129));
    box-shadow: 3.5px 3.5px 4px rgba(0, 0, 0, 0.6);
}

.add-book-screen {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 1;
    background-color: gray;
    border-radius: 0.8em;
    width: 250px;
    gap: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.add-book-screen > input {
    padding: 0.8em;
}

.add-book-screen > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.add-book-screen > div > input {
    width: 16px;
    height: 16px;
}

.add-book-screen > button {
    padding: 0.7em;
    font-weight: var(--bold);
    background-color: transparent;
}

.overlay {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.disappear {
    display: none;
}